.gridContainer{
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  max-width: fit-content;
  gap: 1rem;
}
.titleContainer{
  border-bottom: 1px solid black;
  padding-bottom: 12px;
  color: black;
  width: 100%;
  height: 80%;
  font-size: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  grid-column: span 1;
}

/* Responsiveness */
@media screen and (min-width:650px) {
  .gridContainer{
      grid-template-columns: 1fr 1fr;
  }
  .titleContainer{
      grid-column: span 2;
  }
}

@media screen and (min-width:501px) and (max-width:649px) {
  .titleContainer{
    font-size: 4rem;
  }
}

@media screen and (max-width:500px) {
  .titleContainer{
    font-size: 2.5rem;
  }
}