.layout{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.layout>header{
    padding: 2em 0 4em 0;
    margin: auto; 
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.pageTitle{
    color: black;
    font-weight:bolder;
    display: block;
    padding: 20px;
}
.pageTitle>h1:nth-child(1){
    font-weight: 100;
    line-height: 0;
}
.pageTitle>h1:nth-child(2){
    font-size: 3.2em;
}
.pageTitle>h1:nth-child(3){
    margin-top: 5px;
    font-size: 1.2em;
    line-height: 0px;
    text-align: end;
}
.pageContent{
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
    
}
.pageFooter{
    background-color: black;
    color: var(--el1);
    margin-top: auto;
    text-align: center;
    padding: 10px;
    font-weight:lighter;
}
.catatouille{
    width: 8em;
    height: 8em;
    position: relative;
}
/* Responsiveness */
@media screen and (max-width:600px) {
    .layout>header{
        font-size: .7rem;
        padding: 0;
    }
    .pageHeader{
        flex-direction: column-reverse;
    }
    .pageTitle{
        transform: translate(0,-15px);
    }
    .catatouille{
        transform: translate(0,10px);
    }
}