.Navbar{
    background-color: var(--el1);
    display: flex;    
    font-size:1.2rem;
    min-height: 50px;
    width: 100vw;
}
.menu{
    display: flex;
    gap: 1rem;
    margin: auto;
}
.link{
    height: auto;
    text-decoration: none;
    color: black;
    padding: 12px;
}
.link:hover{
    background-color: black;
    color: var(--el2);
}

.button{
    width: 35px;
    height: 35px;
    margin: 24px;
    border: 1px solid black;
    background-color: var(--el6);
    opacity: .4;
    display: none;
    position: fixed;
    top: 0;
    border-radius: 100%;
}
@media screen and (max-width:600px) {
    .Navbar{
        flex-direction: column-reverse;
        align-items: flex-end;
        position: fixed;
        z-index: 2;
        background-color: transparent;
    }
    .button{
        display: block;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: var(--el1);
        opacity: .9;
    }
    .link{
        width: 100%;
    }
    .menuOff{
        display: none;
    }
    .buttonOn{
        opacity: 1;
    }
}