.Navbar{
    background-color: var(--el1);
    display: flex;    
    font-size:1.2rem;
    min-height: 50px;
    width: 100vw;
}
.menu{
    display: flex;
    gap: 1rem;
    margin: auto;
}
.link{
    height: auto;
    text-decoration: none;
    color: black;
    padding: 12px;
}
.link:hover{
    background-color: black;
    color: var(--el2);
}

.button{
    width: 35px;
    height: 35px;
    margin: 7px;
    margin-right: 14px;
    border: 1px solid black;
    display: none;
    position: fixed;
    top: 0;
    border-radius: 0px;
}
.burger{
    width: 25px;
    height: 3px;
    background-color: black;
    transition: .5s;
}

@media screen and (max-width:600px) {
    .Navbar{
        flex-direction: column-reverse;
        align-items: flex-end;
        position: fixed;
        z-index: 2;
        opacity: .9;
    }
    .button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: var(--el1);
    }
    .link{
        width: 100%;
    }
    .menuOff{
        display: none;
    }
    .buttonOn{
        border-radius: 10px;
        gap: 0;
    }
    .buttonOn>.burger{
        width: 30px;
    }
    .buttonOn>.burger:nth-child(1){
        background-color: var(--el6);
        transform: translate(0,100%) rotate(135deg);
    }
    .buttonOn>.burger:nth-child(2){
        background-color: transparent;
        transform: rotate(180deg);
    }
    .buttonOn>.burger:nth-child(3){
        background-color: var(--el6);
        transform: translate(0,-100%) rotate(-135deg);
    }
}