.Navbar{
    background-color: var(--el1);
    display: flex;    
    font-size:1.2rem;
    min-height: 50px;
    width: 100vw;
}
.menu{
    display: flex;
    gap: 1rem;
    margin: auto;
}
.link{
    height: auto;
    text-decoration: none;
    color: black;
    padding: 12px;
}
.link:hover{
    background-color: black;
    color: var(--el2);
}
.navOn{
    background-color: black;
}
.navOff{
    background-color: var(--el1);
}
.button{
    width: 35px;
    height: 35px;
    margin: 12px;
    border: 2px solid black;
    display: none;
    border-radius: 12px;
}
@media screen and (max-width:600px) {
    .Navbar{
        flex-direction: column-reverse;
        align-items: flex-end;
        position: fixed;
        z-index: 2;
        height: auto;
        opacity: .9;
    }
    .button{
        display: block;
    }
    .menu{
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        width: 100vw;
        justify-self: flex-start;
        position: relative;
        margin-right: auto;
        margin-top: auto;
        text-align: center;
    }
    .menuOff{
        display: none;
    }
}