.recipePageContainer{
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.thumbnail{
    width: 400px;
    height: 300px;
    margin: auto;
    position: relative;
    grid-column: span 4;
    border: 4px solid black;
    box-sizing: border-box;
    box-shadow: -10px 10px rgb(61, 61, 61);
}
.title{
    font-size: 3rem;
    font-weight: bolder;
    grid-column: span 4;
    text-align: center;
    padding: 3rem 0 3rem 0;
}
.ingredients,.method{
    grid-column: span 2;
    padding: 3rem;
    text-align: center;
}
.ingredients>h2,.method>h2{
    margin: 1rem;
}
@media screen and (max-width:800px){
    .ingredients,.method{
        grid-column: span 4;
        text-align:start;
        padding: 2rem 0 2rem 0;
        width: 80%;
        max-width: 500px;
        margin: auto;
    }
    .method{
        padding-left: 0;
    }
    .title{
        font-size: 3rem;
    }
}

@media screen and (max-width:500px){
    .thumbnail{
        width: 80%;
    }
}