.recipeCardContainer{
    width: 300px;
    height: 350px;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(90, 90, 90);
    background-color:var(--el2);
}
.recipeCardContainer:hover{
    box-shadow: 5px 5px 20px var(--el6);
}
.link{
    text-decoration:none;
    color: black;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
}
.link>p{
    display: flex;
    text-align: flex-end;
    width: 100%;
}
.cardHeading{
    padding:.83rem;
    width: 100%;
    height: 6rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardHeading>.link>h1{
    font-weight: 100;
    font-size: 1.5rem;
}
.thumbnail{
    border-left:  15px solid var(--el2);
    border-right: 15px solid var(--el2);
    border-bottom: 15px solid var(--el2);
    height: 400px;
    width: 100%;
    position: relative;
}


/* Responsiveness */

@media screen and (max-width:1000px) {
   
    .recipeCardContainer{
        width: 250px;
    }
    .thumbnail{
        height: 300px;
    }

}

@media screen and (max-width:400px) {
    .recipeCardContainer{
        width: 250px;
    }
}